<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 350px;height: 250px;border: 2px solid rgba(147,144,224,0.55);margin-left: 100px;margin-top:50px;display: inline-block;border-radius: 10px">
    <div style="width: 200px;height: 250px;margin: 0;display: inline;float: left; font-size: 13px">
        <table style="display: block;width: 100%;height: 100%;  padding-top: 1rem;padding-left: 0;">
            <thead>
            我要添加
            </thead>
            <tr>
                <td>名字</td>
                <td><input type="text" id="addAnimalName" onblur="canSign()"></td>
            </tr>
            <tr>
                <td>种类</td>
                <td><select name="addAnimalVariety" id="addAnimalVariety">
                    <option value="1">猫</option>
                    <option value="2">狗</option></select>
                </td>
            </tr>
            <tr>
                <td>性别</td>
                <td><select name="addAnimalGender" id="addAnimalGender">
                    <option value="0">雌</option>
                    <option value="1">雄</option>
                    <option value="2" selected="selected">未知</option></select>
                </td>
            </tr>
            <tr>
                <td>简介</td>
                <td><input type="text" id="addAnimalIntroduction"></td>
            </tr>
        </table>
    </div>
    <div style="width: 150px;height: 250px;display: inline;float: left;padding-top: 1rem;">
        <img src="https://i01piccdn.sogoucdn.com/93f5a1419dbc2e41" alt="" id="addAnimalAvator" style="width: 120px;height: 150px;">
        <button id="addAnimalButton"  onclick="addAnimal()" style="width: 120px;height: 25px;margin-top: 5px">添加动物</button>
    </div>
</div>
</body>
</html>